[common]
uids = 16566,10035,10219,10002,10085,31901,31950
excel_name = output.xlsx
excel_header = A1:序号,B1:昵称,C1:ID,D1:邮箱,E1:手机,F1:骑行台,G1:骑行天数(天),H1:最后骑行时间,I1:AntID,J1:功率计,K1:骑行天数(天),L1:最后骑行时间,M1:AntID,N1:速度计,O1:骑行天数(天),P1:最后骑行时间,Q1:AntID,R1:心率计,S1:骑行天数(天),T1:最后骑行时间,U1:AntID,V1:踏频器,W1:骑行天数(天),X1:最后骑行时间,Y1:AntID,Z1:性别,AA1:年龄,AB1:等级,AC1:会员,AD1:付费(元),AE1:在线时长(h),AF1:登陆次数,AG1:地域
excel_name_column_map = user_name:B,uid:C,email:D,mobile:E,fitness.factureId:F,fitness.time:G,fitness.last_ride:H,fitness.antId:I,power.factureId:J,power.time:K,power.last_ride:L,power.antId:M,speed.factureId:N,speed.time:O,speed.last_ride:P,speed.antId:Q,heart.factureId:R,heart.time:S,heart.last_ride:T,heart.antId:U,cadence.factureId:V,cadence.time:W,cadence.last_ride:X,cadence.antId:Y,sex:X,age:AA,level:AB,vip:AC,pay:AD,online_time:AE,online_count:AF,location:AG
[api]
api_user_info = http://u.onelap.cn/api/off_analysis/user/%d
api_uids = http://u.onelap.cn/api/off_analysis/uids?limit=100